*.pyc
bhtsne/
bhtsne
build-debug/
SUPPIN
data/corpus/cc.txt
img/
data/vectors.txt
data/ising_full.txt
data/corpus/tweets-2013-04-07.tsv.tok
data/takamura/err.*
data/WordNet-3.0/
venv/
test.lex
.emacs.desktop*
data/corpus/cc_*
data/dictcc/
*.log
*.png
build/*
